@import url("footer.css");
@import url("header.css");

* {
  padding: 0px;
  margin: 0px;
}

ul{
  margin-left: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

.profile-picture {
  height: 500px;
  width: auto;
}

.content-area {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding-top: 50px;
}

.message {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.user-welcome-message {
  height: 95vh;
}

.user-experiences {
  background-color: red;
}

.user-projects {
  height: 100px;

  background-color: green;
}
.user-awards {
  height: 100px;

  background-color: gold;
}

.user-others {
  height: 100px;

  background-color: grey;
}

.summary-contents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content-area-padding {
  padding: 25px 50px 25px 50px;
}

.job-header {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
}

.job-header-right-panel {
  display: grid;
  width: 100%;
  justify-content: right;
}

.jobs
{
  display: flex;
  flex-flow: row wrap;
  row-gap: 35px;
  column-gap: 50px;
  justify-content: space-around;
}

.job {
  border: 1px solid black;
  min-width: 200px;
  max-width: 500px;
}
.job-description{
  width: 100%;
}
.job-date {
  padding: 1rem 1rem 0px 0px;
}

.job-description-list
{
  width: 100%;
}
.job-description-list-item
{
  width: 100%;
}