
li {
  font-family: "Roboto", sans-serif;
}

li::marker
{
  content: "➤ ";
  color: rgb(117, 117, 117);
}

.job-header {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.job-header-right-panel 
{
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: right;
}

.job-header-left-panel 
{
  width: 100%;
  min-width: 420px;
}

.jobs {
  display: flex;
  flex-flow: row wrap;
  row-gap: 35px;
  column-gap: 10px;
  justify-content: space-around;
}

.job {
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid black;
  width: 43%;
  min-width: 500px;
}

.job-description-list {
  width: 100%;
  margin: 0px;
  padding-left: 1rem;
}

.job-description-list-item {
  width: 100%;
  text-wrap: wrap;
}
